<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      {{input value=requestText type="text" placeholder="Type text of request here" class="form-control"}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "find"}}>Find</button>
      </span>
    </div>
  </div>
  <div class="col-lg-6">
  </div>
</div>